/* * {
    box-sizing: border-box;
    background-color: #F2F2F0;

  } */
.loginsection__left
{
  width:50%;
  font-family: 'raleway';
  font-family: 'Raleway', sans-serif;
  margin-top: 10%;
  font-weight: bolder;
  display: flex;
  flex-direction: column ;
  justify-content: flex-start;
  align-items: center;
}
.Name
{
 
  align-self: flex-start;
    padding-left: 21%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
}
.Email
{
 
  align-self: flex-start;
    padding-left: 21%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
}
.Password
{
 
  align-self: flex-start;
    padding-left: 21%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
}
.namedetails
{
  align-self: flex-start;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  gap: 10px
}
.emaildetails
{
  align-self: flex-start;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  gap: 10px
}
.passworddetails
{
  align-self: flex-start;
  padding-left: 14.4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px
}
.textField
{
  padding-left: 21%;
  width: 40px;
}

.submit_button {
  margin-top: 5%;
  margin-bottom: 15%;
  appearance: none;
background-color: transparent;
border: 3px solid #1A1A1A;
border-radius: 35px;
box-sizing: border-box;
color: #1A1A1A;
cursor: pointer;
display: inline-block;
font-family: 'Raleway', sans-serif ;
font-size: 16px;
font-weight: 900;
line-height: normal;
letter-spacing: 1.5px;

min-height: 30px;
min-width: 0;
outline: none;
padding: 10px 0;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 150%;
will-change: transform;

}
.submit_button:disabled {
  pointer-events: none;
}

.submit_button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: none;
  transform: translateY(0);
}

  /* html,
  body {
    /* overscroll-behavior-y: contain; */
    /* margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none; */
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
      sans-serif; */
    /* position: fixed;
    overflow: hidden; */
  /* } */
   
  /* #root {
    background: lightblue;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto; */
  /* .shows__deck { */
        
        /* position: fixed; */
        /* overflow: hidden; */
        /* width: 100%; */
        /* height: 100%; */
        /* cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto; */
      
    /* } */
      

  /* .shows__deck {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F0;
    ;
  } */
  
  /* .shows__deck > div > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  } */
  