.b1
{
  margin-top: 5%;
  
  appearance: none;
  background-color: transparent;
  border: 3px solid #1A1A1A;
  border-radius: 35px;
  box-sizing: border-box;
  color: #1A1A1A;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif ;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
  
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
 
}
.b1:disabled {
    pointer-events: none;
  }
  
  .b1:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .b1:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .card__textDisplayed {
    padding-left: 8%;
  }

  .card__formField {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    /* transition: border-image s; */
    padding: 7px 14px 9px;
    
  
    
  
    
  }

  /* .card__formField::placeholder {
    color: transparent;
  }
   */
  
  .card__formField:focus {
    
    
    /* border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s; */
    
    border-width: 3px;
    /* border-image: linear-gradient(to right, grey,white);  */
    border-image-slice: 1; 
  }
  /* reset input */
  
  .card__formField:required,.card__formField:invalid { box-shadow:none; }
  
  .card__formField ~ .focus-border:before,
.card__formField ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #1A1A1A; transition: 0.2s; transition-delay: 0.2s;}
.card__formField ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.card__formField ~ .focus-border i:before,
.card__formField ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #1A1A1A; transition: 0.2s;}
.card__formField ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.card__formField:focus ~ .focus-border:before,
.card__formField:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.card__formField:focus ~ .focus-border:after{transition-delay: 0.2s;}
.card__formField:focus ~ .focus-border i:before,
.card__formField:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.card__formField:focus ~ .focus-border i:after{transition-delay: 0.4s;}

