

.FooterWrapper {
  display: flex;
  height: 350px;
  width: 100%;
  background: var(--footerBackground);
}
 
.FooterWrapper__container {
    /* @include make-flex($dir: row, $just: space-between, $align: center); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    padding: 30px 40px 0 40px;
    gap: 150px;
    /* @include respondAt(1525px) {
      padding: 0 60px 0 100px;
      gap: 100px;
    }
    @include respondAt(1335px) {
      padding: 0 90px;
      gap: 150px;
    }
    @include respondAt(1135px) {
      padding: 0 40px;
    }

    @include respondAt(840px) {
      flex-direction: column;
      gap: 20px;
    }

    @include respondAt(470px) {
      padding: 0 0;
    } */
  }

  .FooterWrapper__left {
    /* @include box(40%); */
    height: 100%;
    width: 40%;
    /* @include make-flex($align: center); */
    display: flex;
    align-items: center;
    gap: 20px;

    /* @include respondAt(1095px) {
      width: 250px;
    }
    @include respondAt(610px) {
      width: 100%;
      align-items: center;
      padding: 0 10px;
    } */
  }
  .FooterWrapper__left--logo {
      /* @include box(330px, auto); */
      width: 330px;
      height:auto;
      margin-bottom: 30px;
      padding: 0 10px;
      /* filter: var(--svgfilter);
      @include respondAt(1095px) {
        width: 250px;
        margin-top: 30px;
      } */
      /* @include respondAt(610px) {
        width: 250px;
        align-items: center;
      } */
    }

    .FooterWrapper__left--Copyright {
      /* @include box(auto, auto); */
      height:auto;
      width:auto;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: var(--copyrightText);
    }
  

    .FooterWrapper__right {
    /* @include make-flex($dir: row, $just: space-between, $align: flex-start); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    /* @include box(50%); */
    width: 50%;
    padding: 70px 0;

    /* @include respondAt(1095px) {
      width: 69%;
      padding: 70px 0 70px 20px;
    }
    @include respondAt(840px) {
      width: 100%;
      padding: 40px 25px 55px;
      gap: 50px;
      flex-wrap: wrap;
    } */
}
    .FooterWrapper__right--Service {
      font-family: "Poppins", sans-serif;
      list-style-type: none;
      /* @include make-flex($align: flex-start); */
      display: flex;
      align-items: flex-start;
      gap: 22px;
      

      /* .mailIcon,
      .callIcon,
      .SocialMediaHandles {
        @include make-flex($dir: row);
        gap: 5px;
        a {
          &:hover {
            color: var(--contactHover);
          }
        }
      } */

      /* .SocialMediaHandles {
        @include make-flex($dir: row, $just: flex-start);
        @include box(100%, auto);
        gap: 5px;
        margin-top: 4px;

        a {
          img {
            width: 30px;
          }
        }
      } */
    }
    .FooterWrapper__right--Service a {
        font-size: 15px;
        font-weight: 400;
       
        text-decoration: none;
        color: #f4f5fc;
      }
    .FooterWrapper__right--rowHeading {
      /* @include respondAt(840px) {
        font-size: 22px;
      } */
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: rgba(255, 255, 255, 0.46);
    }
  